services:
  mysql:
    image: mysql:8
    container_name: pkgsub
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: admin
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./mysql/init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7.4
    ports:
      - "6379:6379"
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 5

  discovery-service:
    build: ./discovery-service
    ports:
      - "8761:8761"

  billing-service:
    build:
      context: .
      dockerfile: billing-service/Dockerfile
    depends_on:
      mysql:
        condition: service_healthy
      discovery-service:
        condition: service_started
    environment:
      SPRING_PROFILES_ACTIVE: ${SPRING_PROFILES_ACTIVE}

      EUREKA_SERVICE_URL: ${EUREKA_SERVICE_URL}

      DATABASE: ${DATABASE}
      DATABASE_USERNAME: ${DATABASE_USERNAME}
      DATABASE_PASSWORD: ${DATABASE_PASSWORD}
      DATABASE_URL: ${DATABASE_URL}
      DATABASE_DRIVER_CLASS: ${DATABASE_DRIVER_CLASS}
      DATABASE_PLATFORM_DIALECT: ${DATABASE_PLATFORM_DIALECT}
      DATABASE_DDL_AUTO: ${DATABASE_DDL_AUTO}
      DATABASE_ENABLE_LAZY_LOADING: ${DATABASE_ENABLE_LAZY_LOADING}

      REDIS_HOST: ${REDIS_HOST}
      REDIS_PORT: ${REDIS_PORT}

  package-service:
    build:
      context: .
      dockerfile: package-service/Dockerfile
    depends_on:
      mysql:
        condition: service_healthy
      discovery-service:
        condition: service_started
    environment:
      SPRING_PROFILES_ACTIVE: ${SPRING_PROFILES_ACTIVE}

      EUREKA_SERVICE_URL: ${EUREKA_SERVICE_URL}

      DATABASE: ${DATABASE}
      DATABASE_USERNAME: ${DATABASE_USERNAME}
      DATABASE_PASSWORD: ${DATABASE_PASSWORD}
      DATABASE_URL: ${DATABASE_URL}
      DATABASE_DRIVER_CLASS: ${DATABASE_DRIVER_CLASS}
      DATABASE_PLATFORM_DIALECT: ${DATABASE_PLATFORM_DIALECT}
      DATABASE_DDL_AUTO: ${DATABASE_DDL_AUTO}
      DATABASE_ENABLE_LAZY_LOADING: ${DATABASE_ENABLE_LAZY_LOADING}

      REDIS_HOST: ${REDIS_HOST}
      REDIS_PORT: ${REDIS_PORT}

  subscription-service:
    build:
      context: .
      dockerfile: subscription-service/Dockerfile
    depends_on:
      redis:
        condition: service_healthy
      mysql:
        condition: service_healthy
      discovery-service:
        condition: service_started
    environment:
      SPRING_PROFILES_ACTIVE: ${SPRING_PROFILES_ACTIVE}

      EUREKA_SERVICE_URL: ${EUREKA_SERVICE_URL}

      DATABASE: ${DATABASE}
      DATABASE_USERNAME: ${DATABASE_USERNAME}
      DATABASE_PASSWORD: ${DATABASE_PASSWORD}
      DATABASE_URL: ${DATABASE_URL}
      DATABASE_DRIVER_CLASS: ${DATABASE_DRIVER_CLASS}
      DATABASE_PLATFORM_DIALECT: ${DATABASE_PLATFORM_DIALECT}
      DATABASE_DDL_AUTO: ${DATABASE_DDL_AUTO}
      DATABASE_ENABLE_LAZY_LOADING: ${DATABASE_ENABLE_LAZY_LOADING}

      REDIS_HOST: ${REDIS_HOST}
      REDIS_PORT: ${REDIS_PORT}

  api-gateway:
    build:
      context: .
      dockerfile: api-gateway/Dockerfile
    ports:
      - "8080:8080"
    depends_on:
      mysql:
        condition: service_healthy
      discovery-service:
        condition: service_started
      billing-service:
        condition: service_started
      package-service:
        condition: service_started
      subscription-service:
        condition: service_started

    environment:
      SPRING_PROFILES_ACTIVE: ${SPRING_PROFILES_ACTIVE}

      EUREKA_SERVICE_URL: ${EUREKA_SERVICE_URL}

      DATABASE: ${DATABASE}
      DATABASE_USERNAME: ${DATABASE_USERNAME}
      DATABASE_PASSWORD: ${DATABASE_PASSWORD}
      DATABASE_URL: ${DATABASE_URL}
      DATABASE_DRIVER_CLASS: ${DATABASE_DRIVER_CLASS}
      DATABASE_PLATFORM_DIALECT: ${DATABASE_PLATFORM_DIALECT}
      DATABASE_DDL_AUTO: ${DATABASE_DDL_AUTO}
      DATABASE_ENABLE_LAZY_LOADING: ${DATABASE_ENABLE_LAZY_LOADING}

      REDIS_HOST: ${REDIS_HOST}
      REDIS_PORT: ${REDIS_PORT}

volumes:
  mysql_data: